body {
  background-image: url("photo/4K-Road-Wallpaper-Free.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.rozlozeni {
  background-color: rgba(0, 0, 0, 0.692);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.start {
  color:rgb(133, 133, 133);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  left: 100px;
  display: block;
  width: 200px; 
  float: left;  
}
#menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  

}

.linky {
  float: right;
  word-spacing: 25pt;
  position: relative;
  right: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}

ul, li {
  display: inline;
  color:rgb(129, 129, 129);
}

li {
  margin-left: 15px;
  text-decoration: none;
}

.main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 10pt;
  font-size: 65pt;
  margin: 0;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: grey;
}
.contenttext {
  color:rgb(157, 158, 158);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.blue-button {
  background-color: rgba(1, 122, 116, 0.76);
  width: 210px;
  height: 45px;
  border: none;
  border-radius:6px;
  color: rgb(201, 196, 196);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#content {
 text-align: center;
 margin-top: 23%;

}